.heroImage {
  object-fit: cover;
  object-position: center;
}

.ActionCall {
  width: 100%;
  opacity: 1;
  box-shadow: none;
  display: grid;
  place-items: center;
  margin: 0;
  overflow: hidden;
  position: relative;
  @media (min-width: 992px) {
    height: 30vh !important;
  }
  @media (min-width: 0px) {
    height: 20vh !important;
  }
}
